/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
/* * {border:1px solid red} */
body {
  margin: 0;
  text-align: center;

}
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.hero-img {
    background-image: url("https://cdn.pixabay.com/photo/2015/09/11/21/03/city-936398_960_720.jpg");
    background-position: center;
    height: 343px;
    width: 730px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}
.hero-text {
color: white;
text-align: center;
}

#hero-header {
background-color: grey; 
}


.holder {
  display: flex;
  justify-content: space-evenly;
  margin: 58px  auto;
  width: 730px;
  size: 16px;
}

#activities-header {
  margin-top: 50px;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.card {
  width: 30%;
}

.guide-container {
  background-color:rgb(255, 243, 240);
  width: 730px;
  height: 394px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 50px;

}
.guide-section {
  width: 400px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #d8e2dc;
  box-shadow: 0px 2px 4px #1D3557;
  border-radius: 10px;
}

.guide-text {
  font-style: italic;
  margin: 14px 11px 26px 7px;
}
#guide-heading {
  margin-top: 50px;
}
#guide-img {
  border-radius: 10px;
  width: 180px;
  height: 200px;
  margin: 23px 7px 23px 13px;
}

